.mainWrap {
    max-width: 100%;
    height: 100vh;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .resultBoxWrap {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h2 {
            font-size: 1.5rem;
        }
        .notice{
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            color: #ccc;
            line-height: 20px;
            text-align: center;
        }
        .resultBoxes{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 2rem;
            .resultBox{
                width: 100%;
                padding: 2rem .5rem;
                background-color: salmon;
            }
        }
    }

    .resultTable {
        h2 {
            margin-bottom: .3rem;
            font-size: 1.5rem;
        }

        thead {
            font-size: .5rem;

            th {
                padding: 0.1rem;
            }
        }

        tbody {
            font-size: .6rem;

            tr {
                td {
                    padding: .1rem;
                }
            }
        }
    }
}

@media (min-width:767px) {
    .mainWrap {
        .resultTable {
            thead {
                font-size: 1rem;

                th {
                    padding: .3rem;
                }
            }

            tbody {
                font-size: .8rem;

                tr {
                    td {
                        padding: .2rem;
                    }
                }
            }
        }
    }
}

@media (min-width:1200px) {
    .mainWrap {
        padding: 5rem 15rem;

        .resultTable {
            thead {
                th {
                    padding: 1.2rem;
                }
            }

            tbody {
                font-size: 1rem;

                tr {
                    td {
                        padding: .5rem;
                    }
                }
            }
        }
    }
}