.mainWrap {
    max-width: 100%;
    height: 100%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .videoBg {
        display: none;
    }

    >div {
        background-color: #fff;

        .todayGamesWrap {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 10rem;

            h2 {
                font-size: 1.5rem;
            }

            .todayGames {
                display: flex;
                gap: 1rem;

                .gameBox {
                    width: 100%;
                    padding: 2.5rem 1rem 1rem 1rem;
                    border: 2px solid #efefef;
                    border-radius: 20px;
                    box-shadow: 2px 2px 5px #eee;
                    display: flex;
                    flex-direction: column;
                    .teamLogos{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-bottom: 1rem;
                        >img{
                            width: 100%;
                            max-width: 75px;
                        }
                    }
                    p{
                        font-size: .8rem;
                        text-align: center;
                        line-height: 20px;
                    }
                }
            }
        }

        .mainResultWrap {

            h2 {
                margin-bottom: 1rem;
                font-size: 1.5rem;
            }

            .resultTable {

                table {
                    border: none;
                    border-radius: 10px;
                    overflow: hidden;

                    thead {
                        font-size: .5rem;
                        background-color: #ccc;

                        tr {
                            th {
                                padding: .5rem 0;
                                border: none;
                            }
                        }
                    }

                    tbody {
                        border: none;
                        font-size: .6rem;

                        tr {
                            td {
                                padding: 1rem .2rem;
                                border: none;
                                text-align: center;
                            }

                            &:nth-child(2n) {
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
        }
    }

    .notice {
        position: absolute;
        width: 100%;
        top: 90vh;
        left: 50%;
        transform: translateX(-50%);
        color: #ccc;
        line-height: 20px;
        text-align: center;
    }

}


////////////////////////////////////////////////////////////////////



@media (min-width:767px) {
    .mainWrap {
        .mainResultWrap {

            .resultTable {
                table {

                    thead {
                        font-size: 1rem;

                        th {
                            padding: .3rem;
                        }
                    }

                    tbody {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) {
    .mainWrap {
        padding: 0;
        padding-top: 100vh;


        .videoBg {
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            overflow: hidden;

            iframe {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        >div {
            padding: 5rem;
            .todayGamesWrap{
                margin-bottom: 10rem;
                gap: 2rem;
            }
            .mainResultWrap{
                h2{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media (min-width:1200px) {
    .mainWrap {
        // padding: 5rem 15rem 12rem 15rem;

        >div {
            .mainResultWrap {

                .resultTable {
                    table {

                        thead {
                            font-size: 1rem;
                            letter-spacing: 1px;

                            th {
                                padding: 1.2rem;
                            }
                        }

                        tbody {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
}