.highlightWrap {
    padding: calc(120px + 1rem) 1rem;

    h3 {
        font-size: calc(1vw + 1rem);
        margin-bottom: 5rem;
    }

    .videoList {
        display: grid;
        grid-template-columns: 1fr;

        .videoBox {
            iframe {
                width: 80%;
                height: 600px;
            }
            img{
                width: 400px;
                height: 300px;
            }
        }

    }
}