.layoutWrap {
  width: 100%;
}
.layoutWrap .fixedHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: transparent;
  z-index: 999;
  transition: 0.3s ease;
}
.layoutWrap .fixedHeader .teamLogo {
  display: none;
}
.layoutWrap .fixedHeader .gnb {
  width: 100%;
  height: 60px;
  position: relative;
}
.layoutWrap .fixedHeader .gnb h1 {
  width: fit-content;
  height: 100%;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
}
.layoutWrap .fixedHeader .gnb h1 img {
  width: 7rem;
}
.layoutWrap .fixedHeader .gnb .topNavWrap {
  display: none;
}
.layoutWrap .fixedHeader .gnb .topNavWrap li {
  color: #000;
}
.layoutWrap .fixedHeader .gnb .hamNav {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.layoutWrap .fixedHeader .gnb .hamNav .ham {
  width: 30px;
  height: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.layoutWrap .fixedHeader .gnb .hamNav .ham span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #222;
  transition: 0.2s;
}
.layoutWrap .fixedHeader .gnb .hamNav .ham.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.layoutWrap .fixedHeader .gnb .hamNav .ham.open span:nth-child(2) {
  opacity: 0;
}
.layoutWrap .fixedHeader .gnb .hamNav .ham.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.layoutWrap .fixedHeader .gnb .hamNav .goToHome {
  font-size: 24px;
  color: #222;
  background-color: transparent;
  border: none;
  margin-right: 1rem;
}
.layoutWrap .fixedHeader .gnb .navWrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: transparent;
  z-index: -1;
}
.layoutWrap .fixedHeader .gnb .navWrap ul {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
}
.layoutWrap .fixedHeader .gnb .navWrap ul li {
  width: 100%;
  height: 15%;
  border-radius: 20px;
  background-color: #eee;
  color: #222;
  text-align: center;
  align-items: center;
}
.layoutWrap .fixedHeader .gnb .navWrap ul li > a {
  display: block;
  align-content: center;
  width: 100%;
  height: 100%;
}
.layoutWrap .show {
  transform: translateY(0%);
}
.layoutWrap .hide {
  transform: translateY(-100%);
}
.layoutWrap .goTop {
  position: fixed;
  bottom: 5rem;
  right: 1.9rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  align-content: center;
  opacity: 0;
  box-shadow: 0px 0px 10px #000;
  transition: 0.3s;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.layoutWrap .goTop:hover {
  scale: 1.2;
}
.layoutWrap .visible {
  opacity: 1;
}

@media (min-width: 767px) {
  .layoutWrap .fixedHeader {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1024px) {
  .layoutWrap .fixedHeader {
    flex-direction: column;
  }
  .layoutWrap .fixedHeader .teamLogo {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
  }
  .layoutWrap .fixedHeader .teamLogo .bar {
    display: block;
    width: calc(100% - 15rem);
    height: 1px;
    background-color: #000;
    margin-left: auto;
  }
  .layoutWrap .fixedHeader .teamLogo ul {
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 1.2rem;
    margin: auto;
  }
  .layoutWrap .fixedHeader .teamLogo ul li {
    width: 3rem;
    height: 100%;
    align-content: center;
    transition: 0.2s;
    cursor: pointer;
  }
  .layoutWrap .fixedHeader .teamLogo ul li:hover {
    scale: 1.1;
  }
  .layoutWrap .fixedHeader .gnb h1 {
    top: -0.5rem;
    left: 6rem;
  }
  .layoutWrap .fixedHeader .gnb h1 img {
    width: 11rem;
  }
  .layoutWrap .fixedHeader .gnb .goToHome {
    display: none;
  }
  .layoutWrap .fixedHeader .gnb .hamNav {
    display: none;
  }
  .layoutWrap .fixedHeader .gnb .topNavWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3vw;
    color: #fff;
  }
  .layoutWrap .fixedHeader .gnb .topNavWrap li:hover {
    color: orange;
  }
}
@media (min-width: 1200px) {
  .layoutWrap .fixedHeader .gnb h1 {
    left: 7rem;
  }
  .layoutWrap .fixedHeader .gnb h1 img {
    width: 13rem;
  }
}

/*# sourceMappingURL=layout.css.map */
