.stadiumDetailWrap {
    width: 100%;
    padding: 5rem 0;
    position: relative;

    .information {
        width: 100%;
        margin-top: 1rem;

        .text {
            padding: 0 1rem;
            display: flex;
            gap: 12px;
            align-items: end;
            margin-bottom: 1rem;

            h1 {
                font-size: 1.5rem;
            }

            p {
                color: #ccc;
                margin-bottom: 6px;
                font-size: .8rem;
            }
        }

        .stadiumPicture {
            margin-top: .5rem;
            box-shadow: 0px 0px 10px #000;

            img {
                width: 100%;
            }
        }

        .homeTeamInfo {
            margin: 5rem auto;

            .homeTeamInfoTop {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                h2 {
                    padding-left: 1rem;
                    font-size: 1.3rem;
                }

                button {
                    font-size: 1.2rem;
                    background-color: transparent;
                    border: none;
                    color: #969696;
                }

                .favorite {
                    cursor: pointer;
                    margin-right: 1rem;

                    .fav {
                        color: gold;
                    }
                }
            }

            >div:not(:first-child) {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 1.5rem 1rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 24px;

                .homeTeamInfoLeft {
                    align-content: center;
                }

                .homeTeamInfoRight {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-self: center;

                    h3 {
                        font-size: 1rem;
                    }

                    p {
                        color: #6E6E73;
                        font-size: .8rem;
                    }

                    span {
                        margin-left: auto;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }

    .location {
        width: 100%;
        height: 400px;
        padding: 0 1rem;

        h2 {
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }

        iframe {
            width: 100%;
            height: 100%
        }
    }
}


////////////////////////////////////////////////////////////////////



@media (min-width:767px) {
    .stadiumDetailWrap {
        padding: 5rem 1rem;

        .information {

            .text {
                padding: 0;
            }

            >div:not(:first-child) {
                display: flex;
                flex-direction: column;
                gap: 5rem;
            }

            .stadiumPicture {
                border-radius: 10px;
                overflow: hidden;
            }

            .homeTeamInfo {
                width: 100%;
                margin: 0;
                border: 2px solid #eee;
                border-radius: 10px;
                padding: 1rem;
                padding-bottom: 2rem;

                .homeTeamInfoTop {
                    margin-bottom: 2rem;

                    h2 {
                        font-size: 1.5rem;
                    }

                    .favorite {
                        cursor: pointer;
                        margin-right: 0;

                        .fav {
                            color: gold;
                        }
                    }
                }

                >div:not(:first-child) {
                    border: none;
                    padding: 0;

                    .homeTeamInfoLeft {
                        width: 20vw;
                        object-fit: contain;
                        margin: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .homeTeamInfoRight {

                        h3 {
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 1rem;
                        }

                        span {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }

        .location {
            margin-top: 5rem;
            padding: 0;

            h2 {
                font-size: 1.5rem;
            }

        }

        .foodWrap {
            padding: 0;
        }

    }
}

@media (min-width:1200px) {
    .stadiumDetailWrap {
        padding: 5rem 15rem;
    }
}