@font-face {
    font-family: 'KBO medium';
    src: url(../../font/KBO\ Dia\ Gothic_medium.ttf);
    font-weight: normal;
    font-style: normal;
}

.stadiumDetailWrap {
    width: 100%;
    padding: 5rem 0;
    position: relative;

    .information {
        width: 100%;
        margin-top: 1rem;

        .text {
            padding: 0 1rem;
            display: flex;
            gap: 12px;
            align-items: end;
            margin-bottom: 1rem;

            p {
                color: #ccc;
                margin-bottom: 6px;
                font-size: .8rem;
            }
        }

        .stadiumPicture {

            img {
                width: 100%;
            }
        }

        .homeTeamInfo {
            margin: 5rem auto;

            h1 {
                font-size: 1.3rem;
                padding-left: 1rem;
                margin-bottom: 1rem;
            }

            >div:not(:first-child) {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 1.5rem 1rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 24px;

                .homeTeamInfoLeft {
                    align-content: center;
                    position: relative;
                    max-width: 270px;

                    button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        align-self: flex-start;
                        font-size: 1.2rem;
                        background-color: transparent;
                        border: none;
                        color: #969696;
                    }

                    .favorite {
                        cursor: pointer;

                        .fav {
                            color: gold;
                        }
                    }

                    img {
                        // width: 90%;
                        max-height: 170px;
                    }
                }

                .homeTeamInfoRight {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-self: center;

                    h3 {
                        font-size: 1rem;
                    }

                    p {
                        color: #6E6E73;
                        font-size: .8rem;
                    }

                    >span {
                        font-size: .7rem;
                        margin-left: auto;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }

    .location {
        width: 100%;
        height: 400px;
        padding: 0 1rem;

        h2 {
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}


////////////////////////////////////////////////////////////////////



@media (min-width:767px) {
    .stadiumDetailWrap {
        padding: 5rem 1rem;

        .information {

            .text {
                padding: 0;
            }

            >div:not(:first-child) {
                display: flex;
                flex-direction: column;
                gap: 5rem;
            }

            .stadiumPicture {
                border-radius: 10px;
                overflow: hidden;
            }

            .homeTeamInfo {
                width: 100%;
                padding: 1rem;
                padding-bottom: 2rem;
                border: 2px solid #eee;
                overflow: hidden;
                background-color: #fff;

                .homeTeamInfoTop {
                    margin-bottom: 2rem;
                    padding: 0 3rem;

                    h2 {
                        font-size: 1.5rem;
                    }

                    .favorite {
                        cursor: pointer;
                        margin-right: 0;

                        .fav {
                            color: gold;
                        }
                    }
                }

                >div:not(:first-child) {
                    border: none;
                    padding: 0;

                    .homeTeamInfoLeft {
                        object-fit: contain;
                        margin: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .homeTeamInfoRight {

                        h3 {
                            font-size: 1.2rem;
                        }

                        p {
                            font-size: 1rem;
                            span{
                                display: inline;
                                border-bottom: none;
                                font-size: .9rem;
                                color: #888;
                            }
                        }
                    }
                }
            }
        }

        .location {
            padding: 0;

            h2 {
                font-size: 1.5rem;
            }

        }

        .foodWrap {
            padding: 0;
        }

    }
}

@media (min-width:1024px) {
    .stadiumDetailWrap {
        padding: 0;
        padding-top: 60vh;

        .information {
            border: 100px 100px 0 0;

            .text {
                position: fixed;
                top: 15rem;
                left: 18rem;
                z-index: -1;

            }

            .stadiumPicture {
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: -2;
                border-radius: 0;

                img {
                    width: 100%;
                    background-size: cover;
                    opacity: .7;
                }
            }

            .homeTeamInfo {
                padding-top: 3rem;
                margin: 5rem auto 0;
                background-color: rgba($color: #fff, $alpha: 0.8);
                border: none;
                border-radius: 100px 100px 0 0;
                box-shadow: 0px -5px 5px rgba($color: #000, $alpha: 0.1);

                h1{
                    padding-left: 3rem;
                }

                >div {
                    &:last-child {
                        display: flex;
                        justify-content: space-evenly;

                        .homeTeamInfoLeft {
                            margin: 0;

                            img {
                                width: 80%;
                                min-width: 180px;
                                margin: auto;
                            }
                            .favorite{
                                top: 3rem;
                            }
                        }

                        .homeTeamInfoRight {
                            p {
                                color: #000;
                            }

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }


        }

        .location {
            height: 1000px;
            padding: 4rem 4rem 10rem 4rem;
            background-color: rgba($color: #fff, $alpha: 0.8);
        }
    }
}

@media(min-width:1400px) {
    .stadiumDetailWrap{
        padding-top: 95vh;
        .information{
            .stadiumPicture{
                img{
                    min-height: 100vh;
                }
            }
        }
    }
}