.ticketingWrap {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    h2 {
        margin-left: 1rem;
        font-size-adjust: 1.5rem;
    }

    .wrapper {
        width: 100%;
        height: 70vh;
        padding: 0 1rem;
        display: flex;
        gap: .5rem;

        a{
            position: relative;
            .noneMob{
               display: none;
            }
            .mob{
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                font-size: .7rem;
                z-index: 99;
            }
        }

        .left {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
        }

        .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .rightTop {
                width: 100%;
                height: 60%;
                border-radius: 10px;
                overflow: hidden;

                >.linkWrap {
                    padding: 1rem;
                }
            }

            .rightBottom {
                height: 60%;
                display: flex;
                gap: .5rem;
                .ncWrap{
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                }
                .lotteWrap{
                    width: 100%;
                    border-radius: 10px;  
                    overflow: hidden;
                }
            }
        }

        .linkWrap {
            height: 100%;
            position: relative;
            background-color: #ccc;
            padding: 1rem;

            h3 {
                font-size: .6rem;
                line-height: 16px;
            }
        }

        .ticketlink {
            display: block;
            width: 100%;
            height: 100%;
            // background-image: url(../../../public/ticketlinkSite.png);
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: contain;
        }

        .interpark {
            display: block;
            width: 100%;
            height: 100%;
            // background-image: url(../../../public/interparkTicketSite.png);
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: contain;
        }

        .lotte {
            display: block;
            width: 100%;
            height: 100%;
            // background-image: url(../../../public/lotteTicketSite.gif);
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: contain;
        }

        .nc {
            display: block;
            width: 100%;
            height: 100%;
            // background-image: url(../../../public/ncTicketSite.png);
            // background-position: right;
            // background-repeat: no-repeat;
            // background-size: contain;
        }
    }
}


////////////////////////////////////////////////////////////////////



@media (min-width:767px) {
    .ticketingWrap{
        .wrapper{
            .linkWrap{
                h3{
                    font-size: .8rem;
                }
            }
            .left{
                transition: .3s;
                &:hover{
                    transform: translate(-2px,-2px);
                    box-shadow: 3px 3px 10px #333;
                }
            }
            .right{
                .rightTop{
                    transition: .3s;
                    &:hover{
                        transform: translate(0px,-2px);
                        box-shadow: 0px 3px 10px #333;
                    }
                }
                .rightBottom{
                    .ncWrap{
                        transition: .3s;
                        &:hover{
                            transform: translate(0px,2px);
                            box-shadow: 0px -3px 10px #333;
                        } 
                    }
                    .lotteWrap{
                        transition: .3s;
                    &:hover{
                        transform: translate(2px,2px);
                        box-shadow: -3px -3px 10px #333;
                    }
                    }
                }
            }
        }
    }
}

@media (min-width:1200px) {
    .ticketingWrap {
        padding: 5rem 15rem;

        // .linkWrap {
        //     max-width: 1200px;
        //     margin: auto;
        // }
    }
}