@font-face {
  font-family: 'KBO Bold';
  src: url('./font/KBO Dia Gothic_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KBO Medium';
  src: url('./font/KBO\ Dia\ Gothic_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KBO Light';
  src: url('./font/KBO Dia Gothic_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'KBO Medium', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

h1,h2{
  font-family: 'KBO Bold', sans-serif;;
}