.teamRankTableWrap {
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: auto;


    h2 {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        color: #222;
    }

    table {
        min-width: 400px;
        width: 100%;
        border-collapse: collapse;
        font-size: 1rem;
        th,
        td {
            padding: .6rem;
            font-size: .6rem;
            text-align: center;
            border: 1px solid #eee;
        }

        th {
            background-color: #f2f2f2;
            font-size: .7rem;
            border: 1px solid #ddd;
        }

        tbody {
            tr {
                &:hover {
                    background-color: #fafafa;
                }
            }
        }
        .highlightTeam{
            background-color: goldenrod;
        }
    }
}

@media (min-width:1400px) {
    .teamRankTableWrap{
        table{
            min-width: 600px;
        }
    }
}

@media (min-width:1600px) {
    .teamRankTableWrap{
        table{
            min-width: 900px;
        }
    }
}